@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slowZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.bg-gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(140, 21, 21, 0.8),
    rgba(77, 79, 83, 0.9)
  );
}